
<div class="container">
  <!--<form class="well form-inline form_top">
      <div id="top_search">Search</div>
      <span class="label_field">Last Name</span>
      <input type="text" class="input-small inp" placeholder="Last Name">
      
      <span class='label_field'>Phone</span>
      <input type="password" class="input-small inp" placeholder="Phone">
      
      
      <span class="label_field">Email</span>
      <input type="password" class="input-small inp" placeholder="Email">
      
      
      <div class="second_layer">
        <button type="submit" class="btn search wth">Search</button>
        <button type="submit" class="btn wth">Add New Family</button>
      </div>
    </form>-->
  <div style="height:22px;"></div>
  <div id="events">
  	<a id="add">Add Picture</a>	<a id="remove">Remove Picture</a>
  </div>
  <!-- <p><span class="badge badge-success">2</span></p>   -->
  <div style="height:5px;"></div>
  <div class="row">

	<div class="span3" >
		<img src="/assets/dog1.jpg">
	</div>
		
	<div class="span8" >
		<div class="row">
			<div class="span2">
			<img src="/assets/sub_dog1.jpg" >
			</div>
			<div class="span2">
			<img src="/assets/sub_dog1.jpg" >
			</div>
			<div class="span2">
			<img src="/assets/sub_dog1.jpg" >
			</div>
			
		</div>
		<div style="height: 10px"></div>
		<div class="row">
			<div class="span2">
			<img src="/assets/sub_dog1.jpg" >
			</div>
			<div class="span2">
			<img src="/assets/sub_dog1.jpg" >
			</div>
			<div class="span2">
			<img src="/assets/sub_dog1.jpg" >
			</div>
			
		</div>
	</div>
</div>
  <div style="height:30px;"></div>
  <div class="tabbable">
    <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Master Info</a></li>
      <li><a href="#tab2" data-toggle="tab">Preference</a></li>
      <li><a href="#tab3" data-toggle="tab">Vaccination</a></li>
      <li><a href="#tab4" data-toggle="tab">Visit History</a></li>
      <li><a href="#tab5" data-toggle="tab">Service History</a></li>
      <li><a href="#tab6" data-toggle="tab">Notes</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <form class="form-horizontal">
          <!--<div class="control-group form-inline">
            <label class="control-label" for="inputEmail">Species</label>
            <input type="text" class="input-large">
            <label class="control-label" for="inputEmail">Breed</label>
            <input type="password" class="input-large">
          </div>-->
          <div class="control-group">
            <label class="control-label" for="inputEmail">Species</label>
                <div class="controls">
                <select>
                <option>Species</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                </div>
            
          </div>
          
           <div class="control-group">
          <label class="control-label" for="inputEmail">Breed</label>
                <div class="controls">
               <select>
                <option>Breed</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                </div>
           </div>
          <div class="control-group">
            <label class="control-label" for="Stats">Stats</label>
            <div class="controls">
              <input type="text" class="input-small" placeholder="Weight">
              <input type="password" class="input-small" placeholder="Size">
              <input type="password" class="input-small" placeholder="Color">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">Play Requirements</label>
            <div class="controls">
              <input type="text" id="inputEmail">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">Special Requirements</label>
            <div class="controls">
              <input type="text" id="inputEmail">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">Pet Search</label>
            <div class="controls">
              <select>
                <option> Primary Visit </option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">Pet Name</label>
            <div class="controls">
              <input type="text" id="inputEmail">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">Contact</label>
            <div class="controls">
              <input type="text" id="inputEmail">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">Phone</label>
            <div class="controls">
              <input type="text" id="inputEmail">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="text" id="inputEmail">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">&nbsp;</label>
            <div class="controls">
            <button type="submit" class="btn">Save</button>
            <button type="submit" class="btn">Cancel</button>
            </div>
          </div>
        </form>
      </div>
      <div class="tab-pane" id="tab2">
        <form class="form-horizontal">
          <!--<div class="control-group form-inline">
            <label class="control-label" for="inputEmail">Species</label>
            <input type="text" class="input-large">
            <label class="control-label" for="inputEmail">Breed</label>
            <input type="password" class="input-large">
          </div>-->
          
          <div class="control-group">
            <label class="control-label" for="inputEmail">Meals</label>
            <div class="controls">
              <input type="text" id="inputEmail">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">Brand</label>
            <div class="controls">
              <input type="text" id="inputEmail">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">Type</label>
            <div class="controls">
              <input type="text" id="inputEmail">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">Play Time</label>
            <div class="controls">
              <input type="text" id="inputEmail">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">Play Group Type</label>
            <div class="controls">
              <input type="text" id="inputEmail">
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="inputEmail">&nbsp;</label>
            <div class="controls">
            <button type="submit" class="btn">Save</button>
            <button type="submit" class="btn">Cancel</button>
            </div>
          </div>
        </form>
      </div>
      <div class="tab-pane" id="tab3">
        <table class="table table-hover">
            <thead>
            	<tr>
                	<th>#</th>
                	<th>Vaccination Type</th>
                	<th>Date</th>
                    <th>Date Expires</th>
                	<th>Notes</th>
            	</tr>
            </thead>
            <tbody>
            	<tr>
                	<td>1</td>
                	<td>Vaccination Type</td>
                	<td>10-2-2012</td>
                    <td>10-2-2012</td>
                	<td>Sample Notes Come Here...</td>
            	</tr>
                <tr>
                	<td>2</td>
                	<td>Vaccination Type</td>
                	<td>10-2-2012</td>
                    <td>10-2-2012</td>
                	<td>Sample Notes Come Here...</td>
            	</tr>
                <tr>
                	<td>3</td>
                	<td>Vaccination Type</td>
                	<td>10-2-2012</td>
                    <td>10-2-2012</td>
                	<td>Sample Notes Come Here...</td>
            	</tr>
                <tr>
                	<td>4</td>
                	<td>Vaccination Type</td>
                	<td>10-2-2012</td>
                    <td>10-2-2012</td>
                	<td>Sample Notes Come Here...</td>
            	</tr>
                <tr>
                	<td>5</td>
                	<td>Vaccination Type</td>
                	<td>10-2-2012</td>
                    <td>10-2-2012</td>
                	<td>Sample Notes Come Here...</td>
            	</tr>
                <tr>
                	<td>6</td>
                	<td>Vaccination Type</td>
                	<td>10-2-2012</td>
                    <td>10-2-2012</td>
                	<td>Sample Notes Come Here...</td>
            	</tr>
                <tr class="error">
                	<td>7</td>
                	<td>Vaccination Type</td>
                	<td>10-2-2012</td>
                    <td>10-2-2012</td>
                	<td>Sample Notes Come Here...</td>
            	</tr>
                <tr class="error">
                	<td>8</td>
                	<td>Vaccination Type</td>
                	<td>10-2-2012</td>
                    <td>10-2-2012</td>
                	<td>Sample Notes Come Here...</td>
            	</tr>
                <tr>
                	<td>9</td>
                	<td>Vaccination Type</td>
                	<td>10-2-2012</td>
                    <td>10-2-2012</td>
                	<td>Sample Notes Come Here...</td>
            	</tr>
                <tr>
                	<td>10</td>
                	<td>Vaccination Type</td>
                	<td>10-2-2012</td>
                    <td>10-2-2012</td>
                	<td>Sample Notes Come Here...</td>
            	</tr>
            </tbody>
        </table>
      </div>
      <div class="tab-pane" id="tab4">
        <p>Visit History</p>
      </div>
      <div class="tab-pane" id="tab5">
        <p>Service History</p>
      </div>
      <div class="tab-pane" id="tab6">
        <p>Notes</p>
      </div>
    </div>
  </div>
</div>
